<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.deinfo.ufrpe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b079d87d8d8ab269c4625266e5cf85e3ddec5cab" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".start.TipsActivity"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".start.SocialActivity"
            android:parentActivityName=".start.TipsActivity"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".start.ConfirmActivity"
            android:parentActivityName=".start.SocialActivity"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".start.LoginActivity"
            android:parentActivityName=".start.ConfirmActivity"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ModuleActivity"
            android:parentActivityName=".CourseActivity" />
        <activity
            android:name=".ModuleRepliesActivity"
            android:parentActivityName=".ModuleActivity" />
        <activity
            android:name=".MessageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.deinfo.ufrpe.MainActivity" />
        </activity>
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/restaurant"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.deinfo.ufrpe.MainActivity" />
        </activity>
    </application>

</manifest>